# AMEX Jupyter Notebook

In [4]:
import pandas as pd
import numpy as np
from pathlib import Path
import sys

pd.options.display.max_rows = 200
pd.options.display.max_info_columns = 200

## Dataset Import

In [2]:
file = './dataset/train_data.csv'
df = pd.read_csv(file)

## Dataset Inpection

In [3]:
df.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [5]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5531451 entries, 0 to 5531450
Data columns (total 190 columns):
 #    Column       Non-Null Count    Dtype
---   ------       --------------    -----
 0    customer_ID  5531451 non-null  object
 1    S_2          5531451 non-null  object
 2    P_2          5485466 non-null  float64
 3    D_39         5531451 non-null  float64
 4    B_1          5531451 non-null  float64
 5    B_2          5529435 non-null  float64
 6    R_1          5531451 non-null  float64
 7    S_3          4510907 non-null  float64
 8    D_41         5529435 non-null  float64
 9    B_3          5529435 non-null  float64
 10   D_42         791314 non-null   float64
 11   D_43         3873055 non-null  float64
 12   D_44         5257132 non-null  float64
 13   B_4          5531451 non-null  float64
 14   D_45         5529434 non-null  float64
 15   B_5          5531451 non-null  float64
 16   R_2          5531451 non-null  float64
 17   D_46         4319752 non-null  float64
 18   D_47         5531451 non-null  float64
 19   D_48         4812726 non-null  float64
 20   D_49         545534 non-null   float64
 21   B_6          5531218 non-null  float64
 22   B_7          5531451 non-null  float64
 23   B_8          5509183 non-null  float64
 24   D_50         2389049 non-null  float64
 25   D_51         5531451 non-null  float64
 26   B_9          5531451 non-null  float64
 27   R_3          5531451 non-null  float64
 28   D_52         5501888 non-null  float64
 29   P_3          5229959 non-null  float64
 30   B_10         5531451 non-null  float64
 31   D_53         1446866 non-null  float64
 32   S_5          5531451 non-null  float64
 33   B_11         5531451 non-null  float64
 34   S_6          5531451 non-null  float64
 35   D_54         5529435 non-null  float64
 36   R_4          5531451 non-null  float64
 37   S_7          4510907 non-null  float64
 38   B_12         5531451 non-null  float64
 39   S_8          5531451 non-null  float64
 40   D_55         5346648 non-null  float64
 41   D_56         2540508 non-null  float64
 42   B_13         5481932 non-null  float64
 43   R_5          5531451 non-null  float64
 44   D_58         5531451 non-null  float64
 45   S_9          2597808 non-null  float64
 46   B_14         5531451 non-null  float64
 47   D_59         5424726 non-null  float64
 48   D_60         5531451 non-null  float64
 49   D_61         4933399 non-null  float64
 50   B_15         5524528 non-null  float64
 51   S_11         5531451 non-null  float64
 52   D_62         4773290 non-null  float64
 53   D_63         5531451 non-null  object
 54   D_64         5314009 non-null  object
 55   D_65         5531451 non-null  float64
 56   B_16         5529435 non-null  float64
 57   B_17         2393853 non-null  float64
 58   B_18         5531451 non-null  float64
 59   B_19         5529435 non-null  float64
 60   D_66         623354 non-null   float64
 61   B_20         5529435 non-null  float64
 62   D_68         5314948 non-null  float64
 63   S_12         5531451 non-null  float64
 64   R_6          5531451 non-null  float64
 65   S_13         5531451 non-null  float64
 66   B_21         5531451 non-null  float64
 67   D_69         5336978 non-null  float64
 68   B_22         5529435 non-null  float64
 69   D_70         5436534 non-null  float64
 70   D_71         5531451 non-null  float64
 71   D_72         5507743 non-null  float64
 72   S_15         5531451 non-null  float64
 73   B_23         5531451 non-null  float64
 74   D_73         55856 non-null    float64
 75   P_4          5531451 non-null  float64
 76   D_74         5509678 non-null  float64
 77   D_75         5531451 non-null  float64
 78   D_76         622497 non-null   float64
 79   B_24         5531451 non-null  float64
 80   R_7          5531450 non-null  float64
 81   D_77         3017539 non-null  float64
 82   B_25         5524528 non-null  float64
 83   B_26         5529435 non-null  float64
 84   D_78         5257132 non-null  float64
 85   D_79         5455512 non-null  float64
 86   R_8          5531451 non-null  float64
 87   R_9          312533 non-null   float64
 88   S_16         5531451 non-null  float64
 89   D_80         5509678 non-null  float64
 90   R_10         5531451 non-null  float64
 91   R_11         5531451 non-null  float64
 92   B_27         5529435 non-null  float64
 93   D_81         5505764 non-null  float64
 94   D_82         1472837 non-null  float64
 95   S_17         5531451 non-null  float64
 96   R_12         5531395 non-null  float64
 97   B_28         5531451 non-null  float64
 98   R_13         5531451 non-null  float64
 99   D_83         5336978 non-null  float64
 100  R_14         5531450 non-null  float64
 101  R_15         5531451 non-null  float64
 102  D_84         5501888 non-null  float64
 103  R_16         5531451 non-null  float64
 104  B_29         381416 non-null   float64
 105  B_30         5529435 non-null  float64
 106  S_18         5531451 non-null  float64
 107  D_86         5531451 non-null  float64
 108  D_87         3865 non-null     float64
 109  R_17         5531451 non-null  float64
 110  R_18         5531451 non-null  float64
 111  D_88         6004 non-null     float64
 112  B_31         5531451 non-null  int64
 113  S_19         5531451 non-null  float64
 114  R_19         5531451 non-null  float64
 115  B_32         5531451 non-null  float64
 116  S_20         5531451 non-null  float64
 117  R_20         5531376 non-null  float64
 118  R_21         5531451 non-null  float64
 119  B_33         5529435 non-null  float64
 120  D_89         5501888 non-null  float64
 121  R_22         5531451 non-null  float64
 122  R_23         5531451 non-null  float64
 123  D_91         5374235 non-null  float64
 124  D_92         5531451 non-null  float64
 125  D_93         5531451 non-null  float64
 126  D_94         5531451 non-null  float64
 127  R_24         5531451 non-null  float64
 128  R_25         5531451 non-null  float64
 129  D_96         5531451 non-null  float64
 130  S_22         5512427 non-null  float64
 131  S_23         5531006 non-null  float64
 132  S_24         5512858 non-null  float64
 133  S_25         5518604 non-null  float64
 134  S_26         5530817 non-null  float64
 135  D_102        5490796 non-null  float64
 136  D_103        5429903 non-null  float64
 137  D_104        5429903 non-null  float64
 138  D_105        2510020 non-null  float64
 139  D_106        541349 non-null   float64
 140  D_107        5429903 non-null  float64
 141  B_36         5531451 non-null  float64
 142  B_37         5531395 non-null  float64
 143  R_26         609305 non-null   float64
 144  R_27         5402748 non-null  float64
 145  B_38         5529435 non-null  float64
 146  D_108        28938 non-null    float64
 147  D_109        5529854 non-null  float64
 148  D_110        31334 non-null    float64
 149  D_111        31334 non-null    float64
 150  B_39         33632 non-null    float64
 151  D_112        5528801 non-null  float64
 152  B_40         5531398 non-null  float64
 153  S_27         4130516 non-null  float64
 154  D_113        5354735 non-null  float64
 155  D_114        5354735 non-null  float64
 156  D_115        5354735 non-null  float64
 157  D_116        5354735 non-null  float64
 158  D_117        5354735 non-null  float64
 159  D_118        5354735 non-null  float64
 160  D_119        5354735 non-null  float64
 161  D_120        5354735 non-null  float64
 162  D_121        5354735 non-null  float64
 163  D_122        5354735 non-null  float64
 164  D_123        5354735 non-null  float64
 165  D_124        5354735 non-null  float64
 166  D_125        5354735 non-null  float64
 167  D_126        5414635 non-null  float64
 168  D_127        5531451 non-null  float64
 169  D_128        5429903 non-null  float64
 170  D_129        5429903 non-null  float64
 171  B_41         5530761 non-null  float64
 172  B_42         71478 non-null    float64
 173  D_130        5429903 non-null  float64
 174  D_131        5429903 non-null  float64
 175  D_132        542577 non-null   float64
 176  D_133        5488735 non-null  float64
 177  R_28         5531451 non-null  float64
 178  D_134        194699 non-null   float64
 179  D_135        194699 non-null   float64
 180  D_136        194699 non-null   float64
 181  D_137        194699 non-null   float64
 182  D_138        194699 non-null   float64
 183  D_139        5429903 non-null  float64
 184  D_140        5490819 non-null  float64
 185  D_141        5429903 non-null  float64
 186  D_142        944408 non-null   float64
 187  D_143        5429903 non-null  float64
 188  D_144        5490724 non-null  float64
 189  D_145        5429903 non-null  float64
dtypes: float64(185), int64(1), object(4)
memory usage: 7.8+ GB

In [6]:
N, D = df.shape

In [7]:
null_counts = df.isnull().sum()

In [12]:
null_percentages = null_counts / N * 100
has_NaN = null_percentages[null_percentages > 0]
print("No. of features with NaN values: ", has_NaN.size)
print(f"The feature with the most NaN is {has_NaN.idxmax()} ({has_NaN.max(): .2f}%)")
print(f"The feature with the most NaN is {has_NaN.idxmin()} ({has_NaN.min(): .10f}%)")

No. of features with NaN values:  122
The feature with the most NaN is D_87 ( 99.93%)
The feature with the most NaN is R_7 ( 0.0000180784%)

### Observation:
- __122 / 190__ features has NaN values. In some features, the percentage of NaN values could go up to 99.9%. 
- An initial preprocessing approach would be to remove these features such high number of NaN values. However, we have around 5 million data points, so 0.01% of the data is equal to approximately 500 data points. _Should we remove these 500 data points?_
- We should consider using some clustering algorithm to predict the missing values for these data points.
- Run the following cells to see a more detailed summary of NaN values in the dataset. _Should we consider doing a mixture of preprocessing where each feature has a different processing method?_

In [13]:
NaN_summary = pd.DataFrame()
NaN_summary["Features"] = df.columns
NaN_summary["No. NaN"] = null_counts.values
NaN_summary["No. Data"] = [N] * D
NaN_summary["NaN Percent"] = null_percentages.values

In [14]:
NaN_summary.loc[NaN_summary["NaN Percent"] > 0].sort_values(by="NaN Percent")

    Features  No. NaN  No. Data  NaN Percent
80       R_7        1   5531451     0.000018
100     R_14        1   5531451     0.000018
152     B_40       53   5531451     0.000958
142     B_37       56   5531451     0.001012
96      R_12       56   5531451     0.001012
117     R_20       75   5531451     0.001356
21       B_6      233   5531451     0.004212
131     S_23      445   5531451     0.008045
134     S_26      634   5531451     0.011462
171     B_41      690   5531451     0.012474
147    D_109     1597   5531451     0.028871
92      B_27     2016   5531451     0.036446
5        B_2     2016   5531451     0.036446
68      B_22     2016   5531451     0.036446
61      B_20     2016   5531451     0.036446
105     B_30     2016   5531451     0.036446
59      B_19     2016   5531451     0.036446
35      D_54     2016   5531451     0.036446
56      B_16     2016   5531451     0.036446
8       D_41     2016   5531451     0.036446
119     B_33     2016   5531451     0.036446
145     B_38     2016   5531451     0.036446
9        B_3     2016   5531451     0.036446
83      B_26     2016   5531451     0.036446
14      D_45     2017   5531451     0.036464
151    D_112     2650   5531451     0.047908
82      B_25     6923   5531451     0.125157
50      B_15     6923   5531451     0.125157
133     S_25    12847   5531451     0.232254
132     S_24    18593   5531451     0.336132
130     S_22    19024   5531451     0.343924
89      D_80    21773   5531451     0.393622
76      D_74    21773   5531451     0.393622
23       B_8    22268   5531451     0.402571
71      D_72    23708   5531451     0.428604
93      D_81    25687   5531451     0.464381
28      D_52    29563   5531451     0.534453
120     D_89    29563   5531451     0.534453
102     D_84    29563   5531451     0.534453
184    D_140    40632   5531451     0.734563
135    D_102    40655   5531451     0.734979
188    D_144    40727   5531451     0.736281
176    D_133    42716   5531451     0.772239
2        P_2    45985   5531451     0.831337
42      B_13    49519   5531451     0.895226
85      D_79    75939   5531451     1.372859
69      D_70    94917   5531451     1.715951
137    D_104   101548   5531451     1.835829
140    D_107   101548   5531451     1.835829
169    D_128   101548   5531451     1.835829
170    D_129   101548   5531451     1.835829
173    D_130   101548   5531451     1.835829
174    D_131   101548   5531451     1.835829
183    D_139   101548   5531451     1.835829
185    D_141   101548   5531451     1.835829
187    D_143   101548   5531451     1.835829
136    D_103   101548   5531451     1.835829
189    D_145   101548   5531451     1.835829
47      D_59   106725   5531451     1.929421
167    D_126   116816   5531451     2.111851
144     R_27   128703   5531451     2.326749
123     D_91   157216   5531451     2.842220
154    D_113   176716   5531451     3.194749
156    D_115   176716   5531451     3.194749
157    D_116   176716   5531451     3.194749
158    D_117   176716   5531451     3.194749
159    D_118   176716   5531451     3.194749
155    D_114   176716   5531451     3.194749
162    D_121   176716   5531451     3.194749
163    D_122   176716   5531451     3.194749
164    D_123   176716   5531451     3.194749
165    D_124   176716   5531451     3.194749
166    D_125   176716   5531451     3.194749
160    D_119   176716   5531451     3.194749
161    D_120   176716   5531451     3.194749
40      D_55   184803   5531451     3.340950
99      D_83   194473   5531451     3.515768
67      D_69   194473   5531451     3.515768
62      D_68   216503   5531451     3.914036
54      D_64   217442   5531451     3.931012
84      D_78   274319   5531451     4.959259
12      D_44   274319   5531451     4.959259
29       P_3   301492   5531451     5.450505
49      D_61   598052   5531451    10.811847
19      D_48   718725   5531451    12.993426
52      D_62   758161   5531451    13.706367
37       S_7  1020544   5531451    18.449843
7        S_3  1020544   5531451    18.449843
17      D_46  1211699   5531451    21.905627
153     S_27  1400935   5531451    25.326718
11      D_43  1658396   5531451    29.981211
81      D_77  2513912   5531451    45.447605
45       S_9  2933643   5531451    53.035686
41      D_56  2990943   5531451    54.071581
138    D_105  3021431   5531451    54.622756
57      B_17  3137598   5531451    56.722874
24      D_50  3142402   5531451    56.809723
94      D_82  4058614   5531451    73.373406
31      D_53  4084585   5531451    73.842921
186    D_142  4587043   5531451    82.926577
10      D_42  4740137   5531451    85.694278
60      D_66  4908097   5531451    88.730733
78      D_76  4908954   5531451    88.746226
143     R_26  4922146   5531451    88.984717
20      D_49  4985917   5531451    90.137597
175    D_132  4988874   5531451    90.191055
139    D_106  4990102   5531451    90.213255
104     B_29  5150035   5531451    93.104594
87       R_9  5218918   5531451    94.349891
178    D_134  5336752   5531451    96.480146
179    D_135  5336752   5531451    96.480146
180    D_136  5336752   5531451    96.480146
181    D_137  5336752   5531451    96.480146
182    D_138  5336752   5531451    96.480146
172     B_42  5459973   5531451    98.707789
74      D_73  5475595   5531451    98.990211
150     B_39  5497819   5531451    99.391986
149    D_111  5500117   5531451    99.433530
148    D_110  5500117   5531451    99.433530
146    D_108  5502513   5531451    99.476846
111     D_88  5525447   5531451    99.891457
108     D_87  5527586   5531451    99.930127

## Convert Pandas DataFrame to Numpy matrix

### Non-numerical features
- Column idx = 0:
    - Name: customer_ID
    - Data type: string
    - customer id
- Column idx = 2:
    - Name: S_2
    - Data type: string
    - datatime
- Column idx = 53:
    - Name: D_63
    - Data type: string
    - Has NaN: false
    - Unique Values: ['CR', 'CO', 'CL', 'XZ', 'XM', 'XL']
- Column idx = 54:
    - Name: D_64
    - Data type: string
    - Has NaN: true
    - Unique Values: ['O', 'R', nan, 'U', '-1']

In [4]:
original_data = df.to_numpy(copy=True, na_value = np.nan)

In [4]:
df.iloc[:,53].unique()

array(['CR', 'CO', 'CL', 'XZ', 'XM', 'XL'], dtype=object)

In [8]:
df.iloc[:,53].isnull().sum()

0

In [5]:
df.columns[53]

'D_63'

In [6]:
df.iloc[:,54].unique()

array(['O', 'R', nan, 'U', '-1'], dtype=object)

In [7]:
df.columns[54]

'D_64'

In [5]:
N, D = original_data.shape
numerical_data = np.empty((N,0), dtype=np.float64)
# concatenate feature idx = 2 to feature idx = 52 (inclusive)
numerical_data = np.concatenate((numerical_data, original_data[:, 2: 53].astype(np.float64)), axis=1)
# concatenate feature idx = 55 to the last feature
numerical_data = np.concatenate((numerical_data, original_data[:, 55:].astype(np.float64)), axis=1)

#### Replace NaN value by the mean in numerical features

In [6]:
is_nan = np.isnan(numerical_data)
is_real = np.invert(is_nan)
zero_filled = np.where(is_nan, 0, numerical_data)
no_real_values = np.sum(is_real, axis=0)
mean_features = np.sum(zero_filled, axis=0, keepdims=True) / no_real_values[np.newaxis,:]
mean_filled_data = np.where(is_nan, mean_features, numerical_data)

#### Replace NaN value in column idx = 54 (name = D_64) with the mode

In [7]:
D_64_mode = df["D_64"].mode()[0]
D_64_mode

'O'

In [8]:
D_64_data = original_data[:, 54].astype(str)
D_64_data

array(['O', 'O', 'O', ..., 'O', 'O', 'O'], dtype='<U3')

In [19]:
np.unique(D_64_data)

array(['-1', 'O', 'R', 'U', 'nan'], dtype='<U3')

In [9]:
D_64_mode_filled_data = np.where(D_64_data == 'nan', D_64_mode, D_64_data)
D_64_mode_filled_data

array(['O', 'O', 'O', ..., 'O', 'O', 'O'], dtype='<U3')

#### Combine all data into 1 matrix, bot numerical and string

In [10]:
part1 = original_data[:, 0:2]
part2 = mean_filled_data[:,:51]
part3 = original_data[:, 53][:, np.newaxis]
part4 = D_64_mode_filled_data[:, np.newaxis]
part5 =  mean_filled_data[:,51:]

In [ ]:
combined_data = np.concatenate((part1, part2, part3, part4, part5), axis=1)

#### Create a pandas dataframe

In [ ]:
index_values = np.array([i for i in range(N)], dtype=int)
column_values = df.columns
preprocessing2 = pd.DataFrame(data = combined_data, index=index_values, columns=column_values)

## Preprocessing data

### 1. Filling missing values with 0

In [15]:
preprocessing_1 = df.fillna(0)

#### Export to a csv file

In [20]:
filepath = Path("DataCleaning/csv/fill0.csv")
filepath.parent.mkdir(parents=True, exist_ok=True)
preprocessing_1.to_csv(filepath)

### 2. Filling missing values with mean/median

The train_data.csv has 190 features: 4 are string (`dtype=object`) while the rest are numerical (`dtype=float64`).
- Numerical features: NaN values are replaced with the mean.
- String features: NaN values are replaced with the mode.

In [ ]:
# create a data frame that map each column name to a replacement values
N, D = df.shape
# create a placeholder array to hold the replacement values
replacement_values = np.empty((D,), dtype=object)
# The replacement values for column 0, 1, and 53 are "" because these columns do not have NaN values
replacement_values[0], replacement_values[1], replacement_values[53] = "", "", ""
# The replacement values for column 54 is the mode of the feature
replacement_values[54] = df.iloc[:,54].mode()[0]
# the replacement values for the remaining columns is the mean
replacement_values[2:53] = df.iloc[:, 2: 53].mean(axis=0).values
replacement_values[55:] = df.iloc[:, 55:].mean(axis=0).values
# checking
replacement_values

In [4]:
replacements = {}
for column_index, column_name in enumerate(df.columns):
    replacements[column_name] = replacement_values[column_index]

In [5]:
preprocessing_2 = df.fillna(value=replacements)

#### Checking correctness

In [13]:
for column_name in df.columns:
    correctness = preprocessing_2[column_name].isnull().sum()
    if correctness != 0:
        print(f"Feature {column_name} has all NaN values replaced with the mean/mode: ", False)
        break

#### Export to a csv file

In [14]:
def export_to_csv(dataframe: pd.DataFrame, filename: str):
    filepath = Path(f"DataCleaning/csv/{filename}.csv")
    filepath.parent.mkdir(parents=True, exist_ok=True)
    dataframe.to_csv(filepath)

In [15]:
export_to_csv(preprocessing_2, "fillmeanmode")

## Download Preprocessed Data

Preprocessed data is stored on an Azure General-Purpose Storage Account. Use the following code to download the data into your local machine.

In [1]:
from DataRetrieval.download import download_preprocessed_data

# download preprocessed data where NaN values are replaced with mean (for numerical features) and mode (for string features)
download_preprocessed_data(mode="mean")

Downloaded 0 GB of data.  0.01% completed.
Downloaded 1 GB of data.  5.46% completed.
Downloaded 2 GB of data.  10.92% completed.
Downloaded 3 GB of data.  16.38% completed.
Downloaded 4 GB of data.  21.84% completed.
Downloaded 5 GB of data.  27.30% completed.
Downloaded 6 GB of data.  32.76% completed.
Downloaded 7 GB of data.  38.22% completed.
Downloaded 8 GB of data.  43.68% completed.
Downloaded 9 GB of data.  49.14% completed.
Downloaded 10 GB of data.  54.59% completed.
Downloaded 11 GB of data.  60.05% completed.
Downloaded 12 GB of data.  65.51% completed.
Downloaded 13 GB of data.  70.97% completed.
Downloaded 14 GB of data.  76.43% completed.
Downloaded 15 GB of data.  81.89% completed.
Downloaded 16 GB of data.  87.35% completed.
Downloaded 17 GB of data.  92.81% completed.
Downloaded 18 GB of data.  98.27% completed.

## Note

### Project Proposal Meeting
1. Data Understanding
    - there are 190 columns => 188 features (since the first column is index and the 2nd column is customer ID) 
    - 5,531,451 data points
    - 1 feature is the date. Could we elimiate it?
    - some feature has "NaN" value. How do we represent it? 
        run regression to predict it (statiscal analysis: modal, meadian, put the data on a distribution and see where the missing data would lie)
        0
        remove the columns
    
    => find a paper to read about how to deal with missing values

2. Papers:
    https://www.kaggle.com/competitions/amex-default-prediction/discussion/327135   

3. Team meeting for proposal recording on Thursday 10/6 at 5:30 PM

4. Trello Board: https://trello.com/b/F0tEjnUX/ml-project

5. Gantt Chart: https://docs.google.com/spreadsheets/d/1NwSPawBI_k9x3xHloXmnbROMbCaqwuFalB0XVgNrCJ8/edit?usp=sharing